// app global css
.q-loading > div {
    text-shadow: none;
}

// app global css
@import 'themes/common.variables'
@import 'formioImportfix'
@import 'box'
@import 'btn'
// Separate into component
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
h3
  font-family: "Roboto", "Helvetica", "Arial", sans-serif
  font-size: 1.825em
  line-height: 1.4em
  color: #3C4858
  font-weight: 700
  text-decoration: none

h5,
p,
.control-label
.form-control
  font-family: "Roboto", "Helvetica", "Arial", sans-serif
  font-weight: 300


.form-title
  text-align: center
  margin: 20px

.image-container:before
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .3;

.image-container
  background-image: url("../assets/img/login_background.jpg")
  height: auto;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
