.q-card
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important
  background-clip: border-box
  background-color: #fff
  border-radius: .25rem
  min-width: 0
  word-wrap: break-word
  font-family: Open Sans, sans-serif
  font-size: 18px
  font-weight: 300
  letter-spacing: normal
  line-height: 2rem
  cursor: pointer

.q-card > .head > .title
  display: inline-flex
  flex-direction: column
  justify-content: center
  align-items: center;

.q-stepper
  box-shadow: none !important