$drawer-item-active-color = #027be3

.q-layout-drawer-normal
  background: #fff
  box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2)
  

.q-layout-drawer > .q-list
  padding-top: 0

.drawer-item
  margin: 10px 15px 0
  border-radius: 3px
  color: #3c4858
  text-transform: capitalize
  font-size: 13px
  padding: 10px 15px

.drawer-item:hover
  background-color: rgba(200,200,200,.2) !important
  box-shadow: none !important

.drawer-item > .q-item-label    
  margin: 0
  line-height: 30px
  font-size: 14px
  position: relative
  display: block
  height: auto
  white-space: nowrap

.drawer-item > .q-item-side-left > .q-item-icon
  font-size: 24px
  float: left
  margin-right: 15px
  line-height: 30px
  width: 30px
  text-align: center
  color: #a9afbb

.drawer-item.router-link-active
  color: #fff
  background-color: $drawer-item-active-color
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba($drawer-item-active-color,.4)

.drawer-item.router-link-active
  outline: 0
  background-color: $drawer-item-active-color !important
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba($drawer-item-active-color,.4) !important

.drawer-item.router-link-active > .q-item-side-left > .q-item-icon
  color: #fff

.drawer-header
  width: 100%
  background-color: #027be3
  height: 110px
  margin-bottom: 40px