.fastform-container
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  border-radius: .375rem !important;
  background-color: #fff!important;
  background-clip: border-box !important;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15) !important;
  border: 1px solid rgba(0,0,0,.05) !important;

.fastform-container > .header
  border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0 !important;
  background-color: #f7fafc!important; 
  border: 0!important;
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  
.fastform-container > .title
  font-family: inherit;
  margin-bottom: .5rem;
  color: #32325d;

.fastform-container > div .border
  border: 0px !important