.header
  box-shadow: none !important

.header > .q-toolbar
  background: transparent !important
  border: 0 !important

.breadcrumbs
  color: #525f7f
  font-size: calc(8px + 0.8vw);

.breadcrumbs > .q-breadcrumbs
  height: 110px