body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.q-page-sticky.q-layout-transition.row.flex-center.fixed-bottom-right.q-page-sticky-shrink {
  z-index: 500;
}

.q-page-sticky.q-layout-transition.row.flex-center.fixed-bottom-left.q-page-sticky-shrink {
  z-index: 500;
}

.asd__inner-wrapper {
  margin-left: 0 !important;
}

.leaflet-control-offline.leaflet-bar.leaflet-control {
  display: none;
}
